@media only screen and (max-width: 991px) {
    .nav-item-users-list{
        bottom: 40px !important;
        left: 82px !important;
        position: relative !important;
        margin-left: 5px;
    }

    .navbar-logo, .nav-item-create-user {
        margin-top: 5px;
    }

    .nav-item-create-user {
        margin-left: 8px;
    }
}

@media only screen and (max-height: 700px) {
    .table-users-layout {
        height: 430px !important;
        margin-top: 50px !important;
    }

    .table-scroll {
        max-height: 251px !important;
    }
}

.navbar {
    height: 71px;
}

.navbar-logo {
    width: fit-content;
    margin-left: 12px;
}

.nav-items {
    float: right;
    margin-top: 3px;
}

.delete-user-button {
    margin-left: 10px;
}

.table-users-layout, .modal-custom, .navbar {
    background-color: #dddddd !important;
}

.background {
    background-image: url("/src/images/create-user-bg.jpg");
    background-size: cover;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-position-y: center;
}

.table-users-layout {
    margin-top: 115px;
    border-radius: 43px;
    height: 600px;
    margin-left: 30px;
    margin-right: 30px;
    overflow-y: auto;
}

.table-users-title {
    top: 40px;
    position: relative;
}


.table-secondary {
    --bs-table-bg: #dddddd;
}

.table-margin {
    margin-right: 50px;
    margin-left: 50px;
}

.table-scroll {
    max-height: 423px;
    overflow-y: auto;
    padding-right: 36px;
    margin-top: 50px;
}

.modal-custom {
    --bs-modal-header-border-color: #a6aaad !important;
    --bs-modal-footer-border-color: #a6aaad !important;
}







