.delete-user-button {
    margin-left: 10px;
}

.navbar, .table-users-layout, .modal-custom {
    background-color: #dddddd !important;
}

.navbar-logo {
    width: fit-content;
}

.background {
    background-image: url("/src/images/create-user-bg.jpg");
    background-size: cover;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-position-y: center;
}

.table-users-layout {
    margin-top: 115px;
    border-radius: 43px;
    height: 600px;
    margin-left: 30px;
    margin-right: 30px;
    overflow-y: auto;
}

.table-users-title {
    top: 40px;
    position: relative;
}


.table-secondary {
    --bs-table-bg: #dddddd;
}

.table-margin {
    margin-right: 50px;
    margin-left: 50px;
}

.table-scroll {
    max-height: 423px;
    overflow-y: auto;
    padding-right: 36px;
    margin-top: 50px;
}

.modal-custom {
    --bs-modal-header-border-color: #a6aaad !important;
    --bs-modal-footer-border-color: #a6aaad !important;
}



