@media only screen and (max-width: 991px) {
    .nav-item-users-list{
        bottom: 40px !important;
        left: 82px !important;
        position: relative !important;
        margin-left: 5px;
    }

    .navbar-logo, .nav-item-create-user {
        margin-top: 5px;
    }

    .nav-item-create-user {
        margin-left: 8px;
    }
}

@media only screen and (max-height: 700px) {
    .card {
        margin-top: 30px !important;
        height: 467px;
    }

    .create-user-button {
        margin-bottom: 0px !important;
        bottom: 40px;
        position: relative;
    }

}


.navbar {
    background-color: #dddddd !important;
    height: 71px;
}

.navbar-logo {
    width: fit-content;
    margin-left: 12px;
}

.nav-items {
    float: right;
    margin-top: 3px;
}

.background {
    background-image: url("/src/images/create-user-bg.jpg");
    background-size: cover;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-position-y: center;
}
  

.container {
    background-color: yellow;
}

.card {
    width: 30rem;
    border-radius: 26px;
    margin-top: 173px;
    align-items: center;
    box-shadow: 1px 1px 16px black;
}

.card-body {
    width: 100%;
}


